# Python-specific
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.env

# Flask-specific
instance/
*.sqlite

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Sensitive files
*.key
*.secret 
